template(name='mediaCard')
  .panel.panel-default.bootcards-media
    +cardHeading
    +cardBody
    img.img-responsive(src='http://www.teamstudio.com/Portals/218295/images/istock_000001242290small.jpg')
    +cardFooter
